:root {
    --theme-color: #00B7ED;
    --theme-color-h: #00A1F2;
    --theme-color-a: #006EA6;
    --color-bg: #121518;
    --color-bg-2: #1C2226;
    --color-bg-3: #2E353D;
    --text-color-1: #FAFAFA;
    --text-color-2: #ABB4BE;
    --text-color-3: #7D8494;
    --text-color-4: #676d7a;
    --hover-color: #3D4955;
    --border-color: #2E3138;
}